body{
     margin: 0;  /*for making attach to the top of page */
     text-align: center;
     font-size: 20px;
     font-family: 'Montserrat', sans-serif;
     color:#000000;
}

h1{
    margin: 50px auto 0 auto ;  /*for making attach to the top of page */
    /* width: 10%; */
   font-family: 'Sacramento', cursive;
   font-size: 90px;
  
   line-height: 0.7;
}

h2{
    color: #016e6e;
}

h3{
    color:#11999E ;
}
.top{

    background-color: aquamarine;
    /* text-align: center; */
    color:#016e6e ;
    padding-top: 100px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

.middle{
    /* background-color: burlywood;
    height: 200px;
    width: 200px; */
}

.bottom{
    /* background-color: cadetblue;
    height: 200px;
    width: 200px; */
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 400px;
}

.bottom-cloud{
    position: absolute;
    bottom: 350px;
    left: 400px;

}

.img{
    margin-top: 40px;
    width: 200px;;
    height: 200px;
}

.skill-row{
    width: 50%;
    /* margin: auto; */
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.img-code{
    width: 25%;
    float: left;
    padding: 30px;
}

.img-creat{
    width: 25%;
    float: right;
}

hr{
    border: dotted #e8f7f7 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
}

.width{
    width: 30%;
    margin: auto;
}

.contact-message{
    width: 30%;
    margin: 40px auto 60px;
}

.contact-me{
    margin: 40px;
}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 40px ;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-container{
color:rgb(0, 0, 0) ;
background-color: aquamarine;
padding: 15px 15px 2px  ;
margin-top: 30px;
}

a{
    color: #11999E;
margin: 10px 20px;
text-decoration: none;
}

a:hover{
    color: white;
}

.copyright{
    font-size: 0.75rem;
}